#root {
  --fontColor-pink: #f58491;
  --fontColor-black: #000000;
  --fontColor-writeLight: #fffbfb;
  --fontColor-write: #ffffff;
  --fontColor-darkGray: #a9a9a9;
  --fontColor-goldEnrod: #daa520;
  --fontColorBorder-thistle: #d8bfd8;

  --fontSize-logo: 3.7rem;
  --fontSize-title: 2.2rem;
  --fontSize-subTitle: 1.8rem;
  --fontSize-padrao: 1.5rem;
}
